/.bundle/
/config/*.pem
/config/contacts.yml
/config/deploy.rb
/config/development.sphinx.conf
/config/facebooker.yml
/config/newrelic.yml
/config/s3.yml
/db/sphinx/
/db/development.sqlite3
/db/test.sqlite3
/lib/geoip/GeoIP.dat
/log/
/tmp/
