= render :partial => "header"
.col-group
  .col-1
    .col-content
      = render :partial => "nav"
  .col-11
    #activities
      - for activity in @activities
        = render :partial => "activities/show", :locals => {:activity => activity, :suffix => "_noself"}
    %p
      = will_paginate(@activities)
