%h4 Aitäh! Sinu ettepanek on esitatud.

- if @idea.category.name == 'Varia'
  %p Kui see ei puudutanud otseselt ühtegi viiest selle arutelukeskkonna teemast, siis seda me analüütikutele ei saada. Küll aga jääb ta kättesaadavaks ja kommenteeritavaks selle lehe külastajatele, sealhulgas erakondadele, kes võivad olla huvitatud sellega edasi töötamisest. Võid oma ettepaneku ka ise saata selle teemaga tegelevale Riigikogu komisjonile, ministeeriumile, erakondadele või vabaühendustele.

- else
  %p Kuni jaanuari lõpuni on teistel võimalik seda kommenteerida, toetada või kritiseerida. Soovitame aeg-ajalt uuesti sellele lehele vaadata ning kui su ettepaneku juures on alanud arutelu, siis selles osaleda – niimoodi saab algne mõte ehk veel paremini läbi mõeldud.
  Kui sul tekib arutelu tulemusena soov oma algset ettepanekut põhjalikult muuta, võid selle uuesti postitada, märkides sinna juurde, et oled ideed edasi arendanud.

  %p Veebruarist töötavad kõigi esitatud ettepanekutega analüütikud ning märtsis saadame nendepoolse vahekokkuvõtte kõigile ettepanekute tegijatele.

#proposal-index
  = link_to tr("To my idea", "ideas/aitah"), @idea, :class => "button smaller"