%header#ideas-header
  %h1 Ideed

  %menu
    J채rjesta
    %ul
      - id = {:id => @category}
      %li
        - href = url_for_unless_current(id.merge(:action => :index))
        %a(href=href) aja
      %li
        - href = url_for_unless_current(id.merge(:action => :top))
        %a(href=href) toetuste
      %li
        - href = url_for_unless_current(id.merge(:action => :bottom))
        %a(href=href) vastuh채채lte
      %li
        - href = url_for_unless_current(id.merge(:action => :controversial))
        %a(href=href) arutelude
    p천hjal.
#ideas-list= render :partial => "ideas/idea", :collection => @ideas
