- @title = "Uus arenguidee"

%header
  %h1 Uus arenguidee

/%section
/  %p Ideede esitamise t채htaeg on l채bi. Maikuu on hindamisteks ja kommenteerimisteks. V천itjad selguvad enne jaanip채eva!
= render "form"
