= render :partial => "ideas/header"
= render :partial => "ideas/idea_detail"

.col-group
  .col-11.col-offset-1
    .col-content
      .fb-comments{"data-href" => url_for(:controller => :ideas, :action => :show, :id => @idea.to_param, :only_path => false), "data-num-posts" => "20", "data-width" => "845"}

/= render :partial => "bulletins/form", :locals => {:activity => Activity.new, :comment => Comment.new}
/ - unless @activities.blank?
/   %ul#endless_scroll_ul_idea_show.list{:last => @activities.to_a.last.changed_at, :idea_id => @idea.id}
/     = render :template => 'feed/activity_list_simple'
/   #infinite-scroll.endless_scroll_inner_wrap
/ - else
/   #activities.single
 