%div{:style => "width:auto;"}
  %ul
    %li.list_left
      #hp_intro{:style => "border-bottom:none;"}= @page_title
    %li.list_right
      - image_tag("feed-icon-14x14.png", :alt => "rss-icon")
.clear
.white_line
.col-group
  #proposal-index= protected_link_to "Tee oma ettepanek", new_idea_path, :class => :button
  .col-half
    .col-content
      %h4= tr("Here, you can find ideas organized by categories, and add your own.", "view/issues/index")
      = render partial: 'issue_listing', locals: { issues: @categories }
