%li.facebook
  %a{:href => user_omniauth_authorize_path(:facebook)} Sisene Facebookiga
%li.idcard
  %a{:href => user_omniauth_authorize_path(:idcard)} Sisene ID-kaardiga
%li.mobileid
  %a{:href => new_user_session_path} Sisene Mobiil-ID-ga
