%li
  %a{:href => new_idea_path} Esita uus arenguidee
%li
  %a{:href => url_for(current_user)} Profiil
%li
  %a{:href => destroy_user_session_path} Logi välja

- if current_user.admin?
  %li
    %h3 Administraatorile
    %ul
      %li
        %a{:href => pending_ideas_path} Ideed
      %li
        %a{:href => users_path} Kasutajad
      %li
        %a{:href => categories_path} Kategooriad
      %li
        %a{:href => pages_path} Staatilised lehed
      %li
        %a{:href => news_index_path} Uudised
