.profile_menu
  %ul
    %li.highlight
      = link_to_unless_current "Profiil", url_for(@user)

    %li
      - title = "Ideed (#{@user.ideas.count})"
      = link_to_unless_current title, ideas_user_url(@user)

    - if current_user && current_user == @user
      %li
        %a{:href => edit_user_url(@user)} Muuda profiili
