%article#user
  %aside
    = image_tag @user.buddy_icon(:icon_80)

    %menu
      - if current_user == @user
        %li
          %a{:href => edit_user_url(@user)} Muuda profiili

  %header
    %h1= @user.name

  %section
    - if @ideas.empty?
      %p Ei ole veel ühtegi ideed esitanud.
    - else
      #ideas-list= render :partial => "ideas/idea", :collection => @ideas
