.header
  .header-wrap
    .col-group
      .col-12
        .col-content
          %div
            - unless SubInstance.current.top_banner.to_s.include?("missing.png")
              = image_tag SubInstance.current.top_banner.url(:icon_full), :size => "1024x80", :border => 0
            - else
              = image_tag current_instance.top_banner.url(:icon_full), :size => "1024x80", :border => 0
          %div.header_submenu
            - if SubInstance.current.sub_link_header and SubInstance.current.sub_link_header!=""
              = SubInstance.current.sub_link_header.html_safe
          %p.hide
            %a{:href => "#content"} Skip to content
      .col-group
        .col-3
          .col-content
          &nbsp;
        .col-7
          .col-content
            = render :partial => "shared/top_navigation"
        .col-2
          .col-content
            %a{:id=>"link_to_cf", :href=>"http://citizens.is/", :style=>"position-top:0px;float:right;height:80px;width:100px;border: 1px solid #444;"}
              XXXXX