%header
  %h1 Staatilised lehed

%ul#pages-list
  - @pages.each do |page|
    %li.page
      %h2
        %a{:href => url_for(page)}
          = page.title
          = "(Avaldamata)" if !page.published?

      %menu
        %a{:href => edit_page_path(page)} Muuda
        %a{:href => url_for(page),
          "date-remote" => true,
          "data-method" => :delete,
          "data-confirm" => t("helpers.confirm.destroy")}
          Kustuta

%menu#pages-menu
  %a(href=new_page_path) Uus leht
