//= require ./reset
//= require ./fonts
//= require ./main
//= require ./grid_layout
//= require ./ideas
//= require ./tipsy
//= require ./top_navigation
//= require ./prettyPhoto
//= require ./side_navigation
//= require ./sub_navigation
//= require ./idea_navigation
//= require ./debate
//= require ./users
//= require ./about
//= require ./shared
//= require ./search
//= require autoSuggest
//= require jquery.qtip.min
//= require facebox
//= require_self

$black: #454545;
$link: #cb481e;
$gray: #ccc;
$dark-gray: #8b8b8b;
$background: #444444;

$open-sans: "Open Sans", sans-serif;
// Minion Pro needs TypeKit.
$minion-pro: minion-pro, "Minion Pro", sans-serif;

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: $background;
  font-family: $open-sans;
  color: black;
  font-size: 14px;
}

h1, h2 {
  color: $black;
  a, a:visited { color: inherit }
}

h1 {
  font-weight: normal;
  font-family: $minion-pro;
  text-align: center;
}

h2 {
  color: $black;
  font-weight: 500;
}

a { text-decoration: inherit }

a:link {
  color: $link;
  cursor: pointer;
}

a:visited { color: $link }

main {
  background: white;
  padding-bottom: 70px;
}

center {
  text-align: left;
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 20px;
  text-align: inherit;
}

#nav {
  background: #f0f0f0;
  height: 40px;
  line-height: 40px;

  a.signin,
  a.account {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;
    float: left;

    // Turning this into a zero-width button prevents it from pushing
    // the centered text slightly off the center.
    margin-right: -100%;
  }

  h1 {
    font-size: 20px;
    height: 100%;
  }
}

#flash {
  p {
    display: block;
    font-size: 16px;
    line-height: 1.3;
  }
}

#home-header,
#ideas-header {
  margin-top: 40px;
  margin-bottom: 50px;

  h1 {
    margin-top: 50px;
    font-size: 70px;
  }
}

#home-banner {
  background: $background;
  padding: 20px;
  overflow: hidden;

  color: darken(white, 7%);
  font-size: 20px;
  font-weight: 300;
  line-height: 1.4;

  a {
    display: block;
    float: left;
    margin-right: 20px;
  }

  img { display: block }
}

#home-ideas {
  margin: 45px -20px 60px;
  color: $black;
  overflow: hidden;

  section {
    width: 50%;
    padding-left: 20px;
    padding-right: 20px;
  }

  section:nth-of-type(n+3) { margin-top: 45px }

  h2 {
    text-transform: uppercase;
    font-size: 18px;
    margin-bottom: 15px;
  }
}

#home-new-idea {
  float: left;

  a {
    display: block;
    background: $link;
    color: white;
    font-size: 24px;
    padding: 24px;
    text-align: center;
  }
}

#home-categories {
  float: right;

  li {
    display: inline-block;
    text-transform: uppercase;
    line-height: 1.9;
    font-weight: 500;
    font-size: 12px;
    color: $link;
  }

  small {
    color: $gray;
    font-size: inherit;
    font-weight: normal;
  }

  li:after {
    content: " • ";
    color: $gray;
    text-transform: none;
  }

  // Keep the dot on the preceding element as it looks better that way at the
  // line end, but remove it from the last one:
  li:last-child:after { content: "" }
}

#home-popular-ideas {
  float: left;

  li { line-height: 1.3 }
  li + li { margin-top: 5px }

  a.category,
  small {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 12px;
    color: $link;
  }

  a.category:after {
    display: inline-block;
    content: "  / ";
    color: $gray;
    font-size: 12px;
  }

  a.idea {
    font-family: $minion-pro;
    color: $black;
    font-size: 15px;
  }
}

#home-outcome {
  float: right;
  color: $black;
  text-align: center;

  div {
    padding-top: 35px;
    padding-bottom: 25px;
    background: #e7e7e7;
  }

  p {
    max-width: 80%;
    margin: 0 auto 15px;
    line-height: 1.4;
    font-size: 19px;
    font-family: $minion-pro;
  }

  a {
    font-size: 12px;
    font-weight: 500;
  }
}

#home-highlights {
  text-align: center;
  margin-top: 70px;

  ul { margin-bottom: 5px }

  blockquote {
    font-size: 26px;
    font-weight: 300;
    margin-bottom: 15px;
    line-height: 1.3;

    &:before { content: '"' }
    &:after { content: '"' }
  }

  a { font-size: 12px }

  li a {
    display: block;
    color: white;
    font-weight: 300;
    line-height: 1.7;

    em, span {
      display: inline-block;
      padding: 2px 10px;
    }

    em {
      background: $link;
      font-weight: normal;
      font-style: normal;
    }

    time {
      color: $dark-gray;
    }

    span {
      background: $background;
    }
  }
}

#ideas-header {
  menu {
    text-align: center;
    margin-top: 10px;
  }

  ul, li { display: inline-block }

  ul:before,
  ul:after { content: " " }

  li + li:before {
    display: inline-block;
    content: " / ";
    color: $gray;
    font-size: 12px;
  }

  a:not([href]) { font-weight: bold }
}

#ideas-list {
  $border: #dfdfdf;
  border-top: 2px solid $border;
  border-bottom: 2px solid $border;

  li { padding: 40px 0 }

  img {
    float: left;
    margin-right: 20px;
  }

  h2 small {
    color: $link;
    font-size: inherit;
  }

  h2 a,
  .author a { color: inherit; }

  li + li { border-top: 2px solid $border; }
}

#footer {
  background: $background;
  color: $dark-gray;
  font-size: 12px;
  padding: 20px 0;
  line-height: 1.8;

  strong {
    float: left;
    margin-right: 15px;
  }

  a { color: white }

  nav a {
    display: inline-block;
    padding: 0 10px;
  }

  small { font-size: inherit }
}

* html .clearfix{
  height: 1%;
  overflow: visible;
}

/* float clearing for IE7 */
*+html .clearfix{
  min-height: 1%;
}

/* float clearing for everyone else */
.clearfix:after{
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
  font-size: 0;
}
#propArticle .opinion  .edit_point_options {
	p {
		margin: 0;
		font-size: 11px;
	}
}
#search_results {
	.profile_picture96 {
		float: left;
		width: 110px;
	}
	.profile_strip {
		float: left;
		width: 450px;

		.profile_name {
			font-size:15px;
		}
	}
}


.idea_inline a.button { text-transform: uppercase; }

a img{border:none;}
*:focus{outline:0;}
textarea{resize:none;}
html{overflow:-moz-scrollbars-vertical;}
a{-moz-outline-style:none;}
img { -ms-interpolation-mode: bicubic; }
.rotated{/* Safari */-webkit-transform: rotate(-90deg);/* Firefox */-moz-transform: rotate(-90deg);/* Internet Explorer */filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);}
.no_select{-webkit-user-select: none;-khtml-user-select: none;-moz-user-select: none;-o-user-select: none;user-select: none;}
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, nav, menu, nav, section, summary {display: block; margin:0; padding:0;}

#topBar{display:block; height:49px; background:#000;}
#topBar .inline{display:block; width:960px; margin:0 auto; height:49px;  visibility:hidden;}
#topBar .inline a{float:left; color:#8f8f8f; text-decoration:none; font-size:11px; text-align:center; padding:10px 12px 9px 12px; line-height:120%;}
#topBar .inline b{display:block; font-size:14px; font-weight:normal; line-height:120%; color:#cacaca;}
#topBar .inline a.active{background:#333333;}
#topBar .inline .arrow{float:left; width:49px; height:49px; background:url(image_path('topBarArrow.png')) no-repeat; overflow:hidden; text-indent:-999px;}
#topBar .languages { float: right;
	a {
		padding: 3px;
		}
}

#mainMenu{float:left; margin-top:42px;}
#mainMenu a{float:left; text-decoration:none; line-height:18px; padding-bottom:11px; margin-right:23px;}
#mainMenu a:hover, #mainMenu a.active{background:url(image_path('mainMenuUnderline.png')) left bottom repeat-x; color:#ababab;}

#propArticle {float:left; width:100%; padding:0 0 50px 0;
	.point_form {
		padding-top: 20px;
		margin-bottom: 20px;
		.point_field {
			width: 350px;
		}
		float: left;
		&.against { float: right; }
		display: none;
		width: 400px;
	}
			.rightSide {
				.idea_wrapper {
					clear: both;
					padding-top : 30px;
				}
			}
	.faces_wrapper {
		clear:both;
		display: none;
		.faces_for, .faces_against {  width: 400px; }
		.faces_for { float: left; }
		.faces_against { margin-left: 410px; }
	}
}
.small_button {
	a:hover {
		color: white;
	}
	display:block;
	clear:both; width:80px; font-size: 12px; background:#cc0000; color:#fff; text-align:center;
	text-decoration:none; height:20px; line-height:20px; -webkit-border-radius:99px; border-radius:99px;
	 margin:0 auto;
-webkit-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.2);
box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.2);
	&.red { background: #C00; }
 &.blue { background: $background; }
}
#propArticle .profile{float:left; width:80px; font-size:12px; color:#444444; text-align:right; line-height:16px;}
#propArticle .profile img{margin-bottom:7px; display:block;}
#propArticle .profile b{margin-bottom:4px; display:block;}

#propArticle .rightSide {float:right; width:845px; }
#propArticle .head{float:left; width:100%; font-size:14px; line-height:20px; margin-top:-8px; color:#444444;}
#propArticle .head h1{margin:0 0 20px 0; color:#000; font-size:30px; line-height:36px; font-weight:normal;}
#propArticle .head p{margin:0 0 25px 0;}
#propArticle .votes{float:left; width:100%; height:49px; border-top:#d9d9d9 1px solid; border-bottom:#d9d9d9 1px solid; line-height:22px;  margin-top: 20px;}
#propArticle .votes .vote {float:left; width:410px; height:22px; margin-top:10px; }
#propArticle .votes .vote  img{float:left; margin:-5px 12px 0 6px;}
#propArticle .votes .vote  img{float:left; margin:-3px 12px 0 0;}
#propArticle .votes .count{float:left; font-size:30px; color:#424242; margin-right:16px;}
#propArticle .votes .button{float:left; height:22px; margin: 3px 10px; line-height:22px; padding:0 11px; font-size:12px; color:#fff; background:$background; -webkit-border-radius:99px; border-radius:99px; text-decoration:none;
-webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2);
box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2);}
#propArticle .votes .button.red {background:#cc0000; text-transform: uppercase;}
#propArticle .votes .vote a.red_text { color: #C00; }
#propArticle .col-left{float:left; width:393px;}
#propArticle .col-right{float:right; width:393px;}
#propArticle .opinion{float:left; width:100%; padding:0 0 5px 0; border-bottom:#ebebeb 2px solid; margin-bottom:22px; font-size:14px; line-height:20px; color:#444444;}
#propArticle .opinion h2{margin:0 0 15px 0; font-size:14px; line-height:120%; color:$link;}
#propArticle .opinion p{margin:0 0 15px 0;
	span.name a { color: black; font-weight: bold; }
}
#propArticle .opinion:last-child{border:none;}
#propArticle .opinion b{font-weight:normal;}
#propArticle .col-right .opinion a { color: #C00; }
.cookieText{float:left; position:relative; width:900px; margin:-17px 0 15px 0; padding:17px 30px; text-align:center; font-size:18px; line-height:26px; color:#fff; background:$background; -webkit-border-radius:5px; border-radius:5px;}
.cookieText p{margin:0;}
.cookieText .closeButton{position:absolute; right:8px; top:9px; width:10px; height:9px; background:url(image_path('closeButton.png')) no-repeat; text-decoration:none; overflow:hidden; text-indent:-999px;}
.cookieText b{font-weight:normal;}
.cookieText a{color:#fff; text-decoration: underline; }

.filterBar{position:relative; width:936px;  padding:0 10px 0 14px; font-size:18px; line-height:37px; height:37px; color:#fff; background:$background; -webkit-border-radius:5px; border-radius:5px; background:#444444; font-size:14px;}
.filterBar .leftSide{float:left;}
.filterBar .leftSide a{color:#fff;}
.filterBar .rightSide{float:right; color:#bcbcbc;}
.filterBar .rightSide a{color:#fff;}
.filterBar .rightSide a.active{text-decoration:none;}
.filterBar .rightSide span.filter_divider { padding: 0 4px 0 4px; }

#propositions .idea_list_entry {
  display: block;
  width: 100%;
  border: none;
  padding: 35px 0;
  border-bottom: #d9d9d9 1px solid;
}

#propositions .idea_main_content {
  overflow: hidden;
}

#propositions .idea_main_content .idea_left_wrap {  width: 656px; float: left;
	p { clear: left; }}
#propositions.users .idea_main_content .idea_left_wrap {  width: 485px; }
#propositions .idea_main_content .idea_left_wrap .head{float:left;  margin:0 0 13px 0;}
#propositions .idea_main_content .idea_left_wrap .head img{float:left;}
#propositions .idea_main_content .idea_left_wrap .head .desc{float:right; width:580px; color:#444444; font-size:12px; margin-left: 20px;}
#propositions.users .idea_main_content .idea_left_wrap .head .desc { width: 400px; }
#propositions .idea_main_content .idea_left_wrap .head .desc h2 {margin:0; font-size:18px; line-height:24px; margin-top:-6px; margin-bottom:5px;}
#propositions .idea_main_content .idea_left_wrap .head .desc h2 .red{ color:#cc0000;
	 a { color: #c00;}
}
#propositions .idea_main_content .idea_left_wrap .head .desc .gray{color:#999999;}
#propositions p{margin:0 0 0 0; font-size:14px; color:#444444; line-height:20px;}
#propositions .idea_endorsements { float: left;  width: 300px; }
#propositions .idea_endorsements .vote {text-align:center; width: 110px;  float: left; padding:0 20px 0 20px;}
#propositions .idea_endorsements .vote .thumb-up, #propArticle .votes .vote .thumb-up {font-size:30px;  a { color: black; }
line-height:100%; color:#424242; float:left; padding-left:35px; background:url(image_path('thumb-yes.png')) left center no-repeat;}
#propositions .idea_endorsements .vote .thumb-down, #propArticle .votes .vote .thumb-down {font-size:30px; a { color: black; }  line-height:100%; color:#424242; float:left; padding-left:35px; background:url(image_path('thumb-no.png')) left center no-repeat;}
#propositions .idea_endorsements .vote .button{float:left; height:22px; line-height:22px; padding:0 11px; font-size:12px; color:#fff; background:$background; -webkit-border-radius:99px; border-radius:99px; text-decoration:none; margin:10px 0 0 8px;
-webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2);
box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2);}
#propositions .vote .button.red{background:#cc0000; margin-left:0;}
#propositions .getMore{float:left; margin-top:30px; width:100px; text-align:center;height:31px; line-height:31px; padding:0 15px 0 15px; color:#fff; text-decoration:none; background:#444444; font-size:12px; -webkit-border-radius:99px; border-radius:99px; margin-left:415px;
-webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);}

#user_points { @extend #propositions; }
#supporting { @extend #propositions; }
.blueBar{float:left; position:relative; width:936px;  padding:0 10px 0 14px; font-size:18px; line-height:51px; height:51px; color:#fff; background:$background; -webkit-border-radius:5px; border-radius:5px; background:$background; font-size:14px; font-size:18px; margin:0 0 34px 0;}
.blueBar span{float:left; margin-right:9px;}
.blueBar #dropdown{float:left; position:relative; margin-right:9px;}
.blueBar #dropdown .active{float:left; cursor:pointer; text-decoration:underline; padding-right:13px; background:url(image_path('dropdown-arrow.png')) right top no-repeat;}
.blueBar #dropdown.opened .active{background-position:right bottom;}
.blueBar #dropdown .more{position:absolute; top:41px; left:0; background:$background; -webkit-border-radius:5px; border-radius:5px; display:none;}
.blueBar #dropdown .more .item{display:block; line-height:31px; font-size:15px; padding:0 10px; white-space:nowrap; cursor:pointer; text-decoration:none; color:#DDDDDD;}
.blueBar #dropdown .more .item.selected, .blueBar #dropdown .more .item:hover{color:#fff;}

#addProposition{float:left; width:100%; padding:0 0 50px 0;}
#addProposition .profile{float:left; width:80px; font-size:12px; color:#444444; text-align:right; line-height:16px;}
#addProposition .profile img{margin-bottom:7px; display:block;}
#addProposition .profile b{margin-bottom:4px; display:block;}
#addProposition .rightSide{float:right; width:845px; }
#addProposition .form-item{float:left; width:100%; margin:0 0 15px 0;}
#addProposition .form-item input{float:left; width:100%; padding:0; height:35px; line-height:35px; border:none; border-bottom:#d9d9d9 1px solid; font-size:30px; color:#000;}
#addProposition .form-item textarea{float:left; width:100%; padding:0; border:none;  padding:2px 0; border-bottom:#d9d9d9 1px solid; font-size:14px; line-height:20px; height:150px; color:#aeaeae;}
#addProposition .spacer{float:left; width:100%; height:10px;}
#addProposition .submit{float:left; border:none; height:37px; line-height:37px; font-size:18px; padding:0 24px 3px 24px; color:#fff; background:#cc0000; -webkit-border-radius:99px; border-radius:99px; text-decoration:none;
-webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2);
box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2); cursor:pointer;}
#addProposition .notice{float:left; line-height:37px; margin-left:15px; font-size:14px;  color:#444444;}


/* JWF stuff */
.profile_pic_96 { width: 96px; margin-bottom: 8px; text-align: right; }
.profile_biography { margin-top: 10px; font-size: 12px;}

#login_overlay {
   background:#fff;
    display:none;
    z-index: 10000;

    width:350px;
    padding:15px;

    border:2px solid #333;

    opacity:1;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    -moz-box-shadow: 0 0 50px #ccc;
    -webkit-box-shadow: 0 0 50px #ccc;

}

#search_box { float: left; margin: 14px 5px 5px 15px;
  .search_head { width: 125px; }
  input[type=text] {
    height: 18px;
    background: #BBB;
    padding-bottom: 1px;
  }
}
.page .page_title { font-size: 18px; font-weight: bold; margin-bottom: 5px;}
.page .page_left { float: left; width: 720px; }
.page .download_link { margin-bottom: 10px; font-size: 12px;}
.page .page_sidebar { float: left; width: 180px; margin-left: 20px;
	.page_activity {
		margin-bottom: 10px;
		padding: 5px 0 5px 0;
		border-bottom: #68afed 1px solid;
		.person { float: left; width: 50px; }
		.activity {
			float: left;
			width: 130px;
			font-size: 12px;
			line-height: 14px;
		}
	}
}

.user_point_title_1 {
	margin-top: 10px;
	color: $link;
}

.user_point_title_-1 {
	margin-top: 10px;
	color: #C00;
}

#feed_sidebar {
	#ideas {
		margin-bottom: 20px;
	}
	float: left;
	.profile_pic { float: left; width: 100px; margin-right: 15px;}
	.profile_name { font-size: 14px; }
	.profile_pc {
			font-size: 13px;
		}
	.ideas_feed_title { font-size: 16px; font-weight: bold; margin-bottom: 10px; }
	.votes{
		float:left; width:100%; padding: 10px 0; border-top:#d9d9d9 1px solid; border-bottom:#d9d9d9 1px solid; line-height:22px;
		.vote {
				float:left; height:22px; margin:10px 25px 5px 10px;
					a.red_text { color: #C00; }
					img{float:left; margin:-5px 12px 0 6px;}
					.thumb-up {font-size:30px;
												 a { color: black; }
													line-height:100%; color:#424242; float:left; padding-left:35px;
													background:url(image_path('thumb-yes.png')) left center no-repeat;
					}
					.thumb-down { font-size:30px;
													a { color: black; }
												line-height:100%; color:#424242; 	float:left; padding-left:35px;
												background:url(image_path('thumb-no.png')) left center no-repeat;
					}
		}
		.count{float:left; font-size:30px; color:#424242; margin-right:16px;}
		.button{float:left; height:22px; margin: 3px 10px; line-height:22px; padding:0 11px;
						font-size:12px; color:#fff; background:$background; -webkit-border-radius:99px;
						border-radius:99px; text-decoration:none;
            -webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2);
						box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2);
					}
		.button.red {background:#cc0000; text-transform: uppercase;}
		span.red{
			color:#cc0000;
	 		a { color: #c00;}
	 	}
	}

}

#activity_feed {
	float: left;
	width: 600px;
}

#activities {

	.activity_icon {
		width: 60px;
	}
	.activity_text {
		margin-left: 15px;
	}
}

#feed_sidebar {
	width: 300px;
	float: left;
}
/* KJ changes */

#mainMenu {
  font-size: 19px;
}
input[type="submit"], .button {
  height: 31px;
  line-height: 31px;
  padding: 0 15px;
  color: white;
  text-decoration: none;
  background: #C00;
  font-size: 12px;
  border: none;
  -webkit-border-radius: 99px;
  border-radius: 99px;
  -webkit-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.2);
}

.field_box.blue input[type="submit"] {
	background: $background;
}

#login_overlay, #sib_profile {
  border: 5px solid #ccc;
  border-radius: 10px;
  padding: 15px;
  -webkit-box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.2);
}
#sib_profile {
  margin-top: 70px !important;
  margin-left: 720px !important;
}
#login_overlay .textbox {
  font-size: 20px;
  font-weight: bold;
  color: #555;
  margin-bottom: 10px;
  padding-bottom: 2px;
}
#login_overlay label, #login_overlay input {
  display: block;
}
#topBar .languages {
  font-size: 14px;
  padding-top: 15px;
}
#container {
  padding-top: 25px;
}
.vote .button {
  text-transform: upper;
}
.idea_listing .col-right h2 a,
.idea_listing .col-right h2 a:link,
.idea_listing .col-right h2 a:visited {
  color: #c00;
}
.profile_strip {
  padding: 0;
  margin: 0 0 20px 0;
  background: none;
}
.profile_strip .profile_name {
  font-size: 24px;
  max-width: none;
}
.profile_menu li {
  border-bottom: 1px solid #eee;
}


/* Other changes */

.reg_form {
	.left { float: left; }
	.right { float: left; clear: right; margin-left: 80px;}
	input[type=submit] { clear: left; margin: 20px; float: left; }
}

.following {
	margin-top: 10px;
}
.user_follow_button { float: left; margin-right: 15px; margin-bottom: 10px; clear: right; }
input#user_eula { float: left; margin-right: 10px; }
.field_label.short { float: left; font-weight: normal; font-size: 9pt; width: 320px;}

textarea#pagecomment_content {
	width: 400px;
	height: 150px;
	margin-bottom: 10px;
}

.page_comment  {
	float: none;
	margin-bottom: 15px;
}
