//= require ./reset
//= require ./fonts
//= require jquery.ui.datepicker
//= require_self

$black: #454545;
$red: #cb481e;
$link: $red;
$gray: #ccc;
$dark-gray: #8b8b8b;
$background: #444444;
$gray-border: #dfdfdf;

$open-sans: "Open Sans", sans-serif;
// Minion Pro needs TypeKit.
$minion-pro: minion-pro, "Minion Pro", sans-serif;

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: $background;
  font-family: $open-sans;
  color: black;
  font-size: 14px;

  // Without an explicit text-align, Internet Explorer (9 at least) has no
  // text-align value to inherit from for <center>.
  text-align: left;
}

h1, h2, h3 {
  color: $black;
  a, a:visited { color: inherit }
}

h1 {
  font-weight: normal;
  font-family: $minion-pro;
  text-align: center;
}

h2, h3 {
  color: $black;
  font-weight: 500;
}

h2 { font-size: 16px }
form h2 { text-transform: uppercase }

a { text-decoration: inherit }

a:link,
a:visited {
  color: $link;
  cursor: pointer;
}

// https://code.google.com/p/chromium/issues/detail?id=271023
button:focus { outline: none }

button, .button {
  cursor: pointer;
  display: inline-block;
}

button.primary,
.button.primary,
input[type=submit] {
  border: 0;
  padding: 10px 30px;

  background: $link;
  color: white;
  font-size: 18px;
  text-align: center;
}

button.link,
.button.link {
  color: $red;
}

// Be explicit to not color type=files.
input[type=text].error,
input[type=email].error,
textarea.error {
  border: 1px solid $red;
}

p.error {
  font-size: 12px;
  color: $red;
}

#main {
  background: white;
  padding-bottom: 70px;
}

center {
  text-align: left;
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 20px;
  text-align: inherit;
}

#nav {
  $nav-background: #f0f0f0;
  background: $nav-background;
  line-height: 40px;

  center {
    position: relative;
    height: 40px;
    padding-left: 0;
  }

  h1 {
    font-size: 20px;
    height: 100%;
  }

  #user-menu-button {
    float: left;
    padding-left: 20px + 34px;
    padding-right: 20px;

    // Turning this into a zero-width button prevents it from pushing
    // the centered text slightly off the center.
    margin-right: -100%;

    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;

    background: url(image_path("icon-menu.svg")) 20px center no-repeat;
    background-size: 20px;

    &.open { background-color: $nav-background }
  }

  menu {
    position: absolute;
    left: 0;
    top: 40px;
    background: $nav-background;
    min-width: 200px;
    line-height: 2.4;
    padding-bottom: 5px;

    & > li { padding: 0 20px; }
    h3 { margin-top: 20px }
  }

  body.home & { background: none }
  body.home & h1 { display: none }
}

#flash,
#message {
  text-align: center;
  background: $red;

  p {
    padding-top: 12px;
    padding-bottom: 12px;
    display: block;

    font-size: 15px;
    font-weight: 300;
    line-height: 1.3;
    color: white;
  }

  strong { font-weight: bold }
}

center > header {
  margin-top: 40px;
  margin-bottom: 50px;

  h1 {
    font-size: 70px;
  }
}

#home-banner {
  background: $background;
  padding: 20px 20px 0;
  overflow: hidden;

  color: darken(white, 10%);
  line-height: 1.4;
  font-weight: 300;

  a {
    display: block;
    float: left;

    padding-right: 20px;
    margin-right: 20px;
    margin-bottom: 20px;

    width: 50%;
  }

  img {
    display: block;
    max-width: 100%;
  }

  blockquote {
    font-size: 20px;
    padding-right: 20px;

    quotes: '"' '"';
    &:before { content: open-quote }
    &:after  { content: close-quote }
  }

  .author {
    margin-top: 15px;
    margin-bottom: 20px;

    img {
      float: left;
      height: 40px;
      width: 40px;
      margin-right: 15px;
    }
  }

  strong { font-weight: bold }
}

#home-ideas {
  margin: 45px -20px 60px;
  color: $black;
  overflow: hidden;

  section {
    width: 50%;
    padding-left: 20px;
    padding-right: 20px;
  }

  section:nth-of-type(n+3) { margin-top: 45px }

  h2 {
    text-transform: uppercase;
    margin-bottom: 15px;
  }
}

#home-new-idea {
  float: left;

  a {
    display: block;
    font-size: 24px;
    padding-top: 24px;
    padding-bottom: 24px;
  }
}

#home-categories {
  float: right;

  li {
    display: inline-block;
    text-transform: uppercase;
    line-height: 1.9;
    font-weight: 500;
    font-size: 12px;
    color: $link;
  }

  small {
    color: $gray;
    font-size: inherit;
    font-weight: normal;
  }

  li:after {
    content: " • ";
    color: $gray;
    text-transform: none;
  }

  // Keep the dot on the preceding element as it looks better that way at the
  // line end, but remove it from the last one:
  li:last-child:after { content: "" }
}

#home-popular-ideas,
#home-news {
  float: left;
  clear: left;

  li { line-height: 1.3 }
  li + li { margin-top: 5px }
}

#home-popular-ideas {
  a.category,
  small {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 12px;
    color: $link;
  }

  a.category:after {
    display: inline-block;
    content: "  / ";
    color: $gray;
    font-size: 12px;
  }

  a.idea {
    font-family: $minion-pro;
    color: $black;
    font-size: 16px;
  }
}

#home-news {
  a {
    font-family: $minion-pro;
    color: $black;
    font-size: 16px;
  }

  strong, time {
    color: $link;
    font-family: $open-sans;
    font-size: 12px;
    font-weight: 500;
  }
}

#home-outcome {
  float: right;
  text-align: center;

  a {
    display: block;
    padding-top: 35px;
    padding-bottom: 25px;

    background: #e7e7e7;
    color: $black;
  }

  p {
    max-width: 80%;
    margin: 0 auto 15px;
    line-height: 1.4;
    font-size: 19px;
    font-family: $minion-pro;
  }

  span {
    color: $link;
    font-size: 12px;
    font-weight: 500;
  }
}

#home-highlights {
  text-align: center;
  margin-top: 70px;

  ul { margin-bottom: 5px }

  blockquote {
    font-size: 26px;
    font-weight: 300;
    margin-bottom: 15px;
    line-height: 1.3;

    &:before { content: '"' }
    &:after { content: '"' }
  }

  a { font-size: 12px }

  li a {
    display: block;
    color: white;
    font-weight: 300;
    line-height: 1.7;

    em, span {
      display: inline-block;
      padding: 2px 10px;
    }

    em {
      background: $link;
      font-weight: normal;
      font-style: normal;
    }

    time { color: $dark-gray }
    span { background: $background }
  }
}

#ideas-header {
  menu {
    text-align: center;
    margin-top: 10px;
  }

  ul, li { display: inline-block }

  ul:before,
  ul:after { content: " " }

  li + li:before {
    display: inline-block;
    content: " / ";
    color: $gray;
    font-size: 12px;
  }

  a:not([href]) { font-weight: bold }
}

#ideas-list {
  border-top: 2px solid $gray-border;
  border-bottom: 2px solid $gray-border;
}

article.idea {
  padding: 40px 0 30px;
  overflow: hidden;

  header, section { margin-right: 240px; }

  header {
    padding-left: 60px;

    img {
      float: left;
      margin-left: -60px;

      // Cheat attempt to line up top of the image with the top of the text.
      // Highly unstable, but worth a go.
      margin-top: 4px;
    }

    a { color: inherit }
    time { color: $gray }

    .author {
      font-size: 12px;
      margin-top: 7px;
    }
  }

  h2 {
    line-height: 1.3;
  }

  h2 small {
    color: $link;
    font-size: inherit;
  }

  p {
    margin-top: 15px;
    line-height: 1.5;
  }

  menu {
    float: right;
    max-width: 240px;
  }

  & + article { border-top: 2px solid $gray-border; }
}

article.idea .admin {
  text-align: right;
  line-height: 1.5;

  button.primary { border-radius: 30px }
  strong { font-weight: bold }
}

article.idea .idea-endorsements {
  text-align: right;

  // NOTE: The submit button may be hidden for signed out people, so add
  // margins to that instead of the count above to not have dangling margins.
  button {
    // Push the bottom border of the idea farther for a bit of visual balance if
    // the whole idea is shorter than the endorsement buttons.
    margin-top: 15px;
    margin-bottom: 10px;
  }
}

form {
  p {
    font-size: 12px;
  }

  p.errors {
    color: $red;
    margin-bottom: 30px;
    font-size: 14px;
  }

  h2 ~ h2 {
    margin-top: 25px;
    margin-bottom: 5px;
  }

  h2 { margin-bottom: 5px }
  p { margin-bottom: 5px }

  label {
    font-size: 12px;
    cursor: pointer;
  }

  label.radio { display: inline-block }
  label.radio + label.radio { margin-left: 15px }

  input[type=text], textarea {
    width: 100%;
    font-size: 14px;
  }

  input[type=text] {
    height: 35px;
    padding: 0 5px;
  }

  input[type=checkbox] { margin-right: 5px }

  textarea {
    padding: 5px;
    resize: vertical;
  }

  small {
    font-size: 12px;
    color: $dark-gray;
  }

  strong { font-weight: bold }
}

center > form {
  input[type=submit] {
    display: block;
    width: 100%;
    margin-top: 35px;
  }
}

center > form + menu {
  margin-top: 30px;
  text-align: right;
}

#idea,
#user {
  margin-top: 65px;
  overflow: hidden;

  h1 {
    font-size: 32px;
    text-align: left;
  }

  aside {
    float: left;
    max-width: 80px;
    line-height: 1.4;
    text-align: right;
  }

  section {
    margin-top: 30px;

    p { line-height: 1.5; color: $black; }
    p + p { margin-top: 25px }
  }

  article.idea {
    // No point in displaying the same profile image next to each idea as on
    // the user page.
    header img { display: none }
    header { padding-left: 0 }
  }
}

#idea ~ *,
#user ~ *,
#idea aside ~ *,
#user aside ~ * {
  margin-left: 80px + 40px;
}

#idea {
  & > header,
  & > section { max-width: 660px }

  aside {
    .author {
      display: block;
      margin-bottom: 5px;

      font-size: 14px;
      font-weight: bold;
      color: $black;

      img { margin-bottom: 10px }
    }

    time {
      font-size: 12px;
      color: $dark-gray;
    }

    menu {
      margin-top: 10px;
      font-size: 12px;
    }
  }

  .idea-endorsements {
    padding: 10px 0;
    margin-top: 40px;
    border-top: 2px solid $gray-border;
    border-bottom: 2px solid $gray-border;
    line-height: 30px;

    form { width: 50% }
    .count, button { vertical-align: middle }
    .count { display: inline-block; margin-right: 15px; }
  }
}

#idea-points {
  margin-top: 40px;

  .positive,
  .negative {
    vertical-align: top;
    display: inline-block;
    width: 50%;
  }

  .positive { padding-right: 10px }
  .negative { padding-left: 10px }

  article + form {
    padding-top: 20px;
    border-top: 2px solid $gray-border;
  }

  textarea {
    display: block;
    width: 100%;
    height: 70px;
    resize: vertical;
    font-size: 14px;
  }

  input[type=submit] {
    margin-top: 4px;
    padding: 7px 15px;
    font-size: 14px;
    font-weight: 300;
  }
}

article.point {
  color: $black;
  line-height: 1.4;
  padding-bottom: 20px;

  footer {
    margin-top: 10px;

    a {
      color: inherit;
      font-weight: bold;
    }
  }

  & + article {
    padding-top: 20px;
    border-top: 2px solid $gray-border;
  }
}

#idea-form {
  margin: 0 auto;
  max-width: 620px;

  input[name="idea[name]"] { font-size: 17px }
  textarea[name="idea[description]"] { height: 130px }
  textarea[name="idea[text]"] { height: 250px }
  input[name="idea[author_name]"] { max-width: 250px }

  .countdown {
    float: right;
    font-weight: normal;
    text-transform: none;
  }
}

#user {
  aside menu {
    margin-top: 10px;
    font-size: 12px;
  }

  section > h2 {
    margin-bottom: 15px;
  }
}

#users-list {
  // Expand outward to make up for the side padding of each user block.
  margin-left: -20px;
  margin-right: -20px;

  font-size: 12px;
  color: $black;
  line-height: 1.5;

  .user {
    vertical-align: top;
    padding: 0 20px;
    display: inline-block;
    width: 33.33%;
    margin-bottom: 30px;
  }

  h2 { color: $link; }
  .user li, dt, dd { display: inline }
  .user li { font-weight: bold }
  .user li + li:before { content: "," }

  dt {
    font-weight: bold;
    &:before { content: ""; display: block; }
    &:after { content: ":" }
  }
}

#user-form {
  margin: 0 auto;
  max-width: 620px;

  input[name="user[first_name]"],
  input[name="user[last_name]"] {
    max-width: 200px;
    display: inline-block;
  }

  textarea[name="user[bio]"] { height: 200px }
}

body.categories #main > center,
body.pages #main > center {
  max-width: 620px;
}

#categories-list,
#pages-list,
#news-list {
  line-height: 1.4;
  li + li { margin-top: 20px }
  h2 a { color: $black }
  menu a + a { margin-left: 10px }
}

#categories-menu,
#pages-menu,
#news-menu {
  margin-top: 40px;
}

#signin-menu {
  text-align: center;

  li { display: inline-block }
  li + li { margin-left: 5px }

  a {
    display: inline-block;
    padding: 9px 15px;
    color: white;
    font-size: 14px;
    font-weight: 300;
  }

  a.facebook { background:#4862a3 }
  a.idcard { background: $link }
}

#page {
  margin: 40px auto 50px;

  header { margin-bottom: 40px }
  h1 { font-size: 70px }

  line-height: 1.4;
  p + p { margin-top: 20px }
}

#footer {
  background: $background;
  color: $dark-gray;
  font-size: 12px;
  padding: 20px 0;
  line-height: 1.8;

  strong {
    float: left;
    margin-right: 15px;
  }

  nav a {
    display: inline-block;
    padding: 0 10px;
  }

  a { color: white }
  small { font-size: inherit }
}

.idea-endorsements {
  form { display: inline-block }

  // Use padding over margins so you could set widths to <form>s.
  .oppose { padding-left: 40px }

  .count {
    padding-left: 35px;
    background-repeat: no-repeat;
    background-position: 0 center;

    text-align: left;
    font-size: 30px;
    font-weight: bold;
  }

  .endorse .count { background-image: url(image_path("thumb-yes.png")) }
  .oppose .count { background-image: url(image_path("thumb-no.png")) }

  button {
    border: 0;
    border-radius: 20px;
    display: inline-block;
    padding: 5px 10px;
    line-height: 1;

    color: white;
    font-size: 12px;

    cursor: pointer;
    &:focus { outline: 0 }
  }

  .endorse button { background: #81b622 }
  .oppose button { background: $link }

  form.submitting .count {
    background-image: url(image_path("loading.gif"));
    background-size: 25px;
  }
}
