.profile_menu
  font-size: 0.75em
  text-align: right
  //background-color: #eee
  margin: 0 0.5em 0 0
  width: 73px

.profile_menu li
  line-height: 1.5em

.idea_menu
  font-size: 0.75em
  text-align: right
  //background-color: #eee
  margin: 0 0.5em 0 0
  width: 70px

.idea_menu li
  line-height: 1.5em

.idea_menu li.sub
  margin-top: 10px
