/*!
 * Fluidable Grid System 0.8
 *
 * Creator: Andri Sigurðsson
 * Site: http://fluidable.com
 * Date: 21.03.2012
 */
.col-group {
  zoom: 1;
}
.col-group:after {
  display: block;
  visibility: hidden;
  height: 0;
  clear: both;
  content: ".";
}
.col-group .col-first > .col-content {
  margin-left: 0;
}
.col-group .col-last > .col-content {
  margin-right: 0;
}
.col-group .col-group {
  margin: 0;
}
.col-inset .col-content {
  padding: 0.5em;
  margin: 0;
}

.col-content .col-content .col-content{
  margin:0;
}

.col-content .col-content .col-half{
}

.col-inset-one .col-content {
  padding: 0.5em;
}
.col-group .col-content {
  margin: 0 0.5em;
}
.col-1 {
  width: 8.333333333333334%;
  float: left;
}
.col-2 {
  width: 16.666666666666668%;
  float: left;
}
.col-3 {
  width: 25%;
  float: left;
}
.col-4 {
  width: 33.333333333333336%;
  float: left;
}
.col-5 {
  width: 41.66666666666667%;
  float: left;
}
.col-6 {
  width: 50%;
  float: left;
}
.col-7 {
  width: 58.333333333333336%;
  float: left;
}
.col-8 {
  width: 66.66666666666667%;
  float: left;
}
.col-9 {
  width: 75%;
  float: left;
}
.col-10 {
  width: 83.33333333333334%;
  float: left;
}
.col-11 {
  width: 91.66666666666667%;
  float: left;
}
.col-12 {
  width: 100%;
  float: left;
}
.col-13 {
  width: 108.33333333333334%;
  float: left;
}
.col-14 {
  width: 116.66666666666667%;
  float: left;
}
.col-15 {
  width: 125.00000000000001%;
  float: left;
}
.col-16 {
  width: 133.33333333333334%;
  float: left;
}
.col-17 {
  width: 141.66666666666669%;
  float: left;
}
.col-18 {
  width: 150%;
  float: left;
}
.col-full {
  width: 100%;
  float: left;
}
.col-half {
  width: 50%;
  float: left;
}
.col-third {
  width: 33.333333333333336%;
  float: left;
}
.col-fourth {
  width: 25%;
  float: left;
}
.col-fifth {
  width: 20%;
  float: left;
}
.col-sixth {
  width: 16.666666666666668%;
  float: left;
}
.col-seventh {
  width: 14.285714285714286%;
  float: left;
}
.col-eighth {
  width: 12.5%;
  float: left;
}
.col-ninth {
  width: 11.11111111111111%;
  float: left;
}
.col-tenth {
  width: 10%;
  float: left;
}
.col-eleventh {
  width: 9.090909090909092%;
  float: left;
}
.col-twelfth {
  width: 8.333333333333334%;
  float: left;
}
.col-thirteenth {
  width: 7.692307692307693%;
  float: left;
}
.col-fourteenth {
  width: 7.142857142857143%;
  float: left;
}
.col-fifteenth {
  width: 6.666666666666668%;
  float: left;
}
.col-sixteenth {
  width: 6.25%;
  float: left;
}
.col-seventeenth {
  width: 5.882352941176471%;
  float: left;
}
.col-eighteenth {
  width: 5.555555555555555%;
  float: left;
}
.col-golden-a {
  width: 61.803399%;
	float: left;
}
.col-golden-b {
  width: 61.803399%;
	float: left;
}
.col-offset-1 {
  margin-left: 8.333333333333334%;
}
.col-offset-2 {
  margin-left: 16.666666666666668%;
}
.col-offset-3 {
  margin-left: 25%;
}
.col-offset-4 {
  margin-left: 33.333333333333336%;
}
.col-offset-5 {
  margin-left: 41.66666666666667%;
}
.col-offset-6 {
  margin-left: 50%;
}
.col-offset-7 {
  margin-left: 58.333333333333336%;
}
.col-offset-8 {
  margin-left: 66.66666666666667%;
}
.col-offset-9 {
  margin-left: 75%;
}
.col-offset-10 {
  margin-left: 83.33333333333334%;
}
.col-offset-11 {
  margin-left: 91.66666666666667%;
}
.col-offset-12 {
  margin-left: 100%;
}
.col-offset-13 {
  margin-left: 108.33333333333334%;
}
.col-offset-14 {
  margin-left: 116.66666666666667%;
}
.col-offset-15 {
  margin-left: 125.00000000000001%;
}
.col-offset-16 {
  margin-left: 133.33333333333334%;
}
.col-offset-17 {
  margin-left: 141.66666666666669%;
}
.clear {
  zoom: 1;
}
.clear:after {
  display: block;
  visibility: hidden;
  height: 0;
  clear: both;
  content: ".";
}

.hide {
  position: absolute;
  left: -9999em;
}

.field_with_errors input {
  border-color: #f00;
  border: 1px solid red !important;
}
