a img{border:none;}
*:focus{outline:0;}
textarea{resize:none;}
html{overflow:-moz-scrollbars-vertical;}
a{-moz-outline-style:none;}
img { -ms-interpolation-mode: bicubic; }
.rotated{/* Safari */-webkit-transform: rotate(-90deg);/* Firefox */-moz-transform: rotate(-90deg);/* Internet Explorer */filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);}
.no_select{-webkit-user-select: none;-khtml-user-select: none;-moz-user-select: none;-o-user-select: none;user-select: none;}
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, nav, menu, nav, section, summary {display: block; margin:0; padding:0;}
body{margin:0; background:#353535;}

body.splashScreen{background:#fff;}

@font-face {
    font-family: 'Bebas';
    src: url('bebasneue.eot');
    src: url('bebasneue.eot?#iefix') format('embedded-opentype'),
         url('bebasneue.woff') format('woff'),
         url('bebasneue.ttf') format('truetype'),
         url('bebasneue.svg#bebas_neueregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'OpenSansBold';
    src: url('opensans-bold.eot');
    src: url('opensans-bold.eot?#iefix') format('embedded-opentype'),
         url('opensans-bold.woff') format('woff'),
         url('opensans-bold.ttf') format('truetype'),
         url('opensans-bold.svg#open_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'OpenSansLight';
    src: url('opensans-light.eot');
    src: url('opensans-light.eot?#iefix') format('embedded-opentype'),
         url('opensans-light.woff') format('woff'),
         url('opensans-light.ttf') format('truetype'),
         url('opensans-light.svg#open_sans_lightregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'OpenSansRegular';
    src: url('opensans-regular.eot');
    src: url('opensans-regular.eot?#iefix') format('embedded-opentype'),
         url('opensans-regular.woff') format('woff'),
         url('opensans-regular.ttf') format('truetype'),
         url('opensans-regular.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'OpenSansSemiBold';
    src: url('opensans-semibold.eot');
    src: url('opensans-semibold.eot?#iefix') format('embedded-opentype'),
         url('opensans-semibold.woff') format('woff'),
         url('opensans-semibold.ttf') format('truetype'),
         url('opensans-semibold.svg#open_sans_semiboldregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

#splashScreen{position:absolute; top:50%; left:50%; margin:-183px 0 0 -294px; width:589px; height:316px; background:#dff0ff; font-family:OpenSansLight; font-size:24px; line-height:36px; text-align:center; padding:50px 0 0 0;}
#splashScreen p{margin:25px 0;}
#splashScreen .button{display:inline; font-size:14px; color:#fff; font-family:OpenSansSemiBold; background:#0077dd; line-height:100%; padding:5px 10px; border-left:#68afed 1px solid; border-bottom:#68afed 1px solid;}
#splashScreen .spacer{height:20px;}
#splashScreen a{font-family:OpenSansRegular; color:#0077dd; font-size:12px; text-decoration:none;}

#topBar{display:block; height:49px; background:#000; border-bottom:#929292 1px solid;}
#topBar .inline{display:block; width:960px; margin:0 auto; height:49px;  visibility:hidden;}
#topBar .inline a{float:left; color:#8f8f8f; text-decoration:none; font-family:OpenSansRegular; font-size:11px; text-align:center; padding:10px 12px 9px 12px; line-height:120%;}
#topBar .inline b{display:block; font-size:14px; font-weight:normal; line-height:120%; color:#cacaca;}
#topBar .inline a.active{background:#333333;}
#topBar .inline .arrow{float:left; width:49px; height:49px; background:url(../imgs/topBarArrow.png) no-repeat; overflow:hidden; text-indent:-999px;}

#outerContainer{background:#fff; float:left; width:100%; min-width:960px;}
#container{display:block; width:960px; margin:0 auto;}

#header{float:left; width:100%; height:104px; position:relative;}
#header .logo{float:left; margin:29px 38px 0 0;}
#header .logIn{position:absolute; right:0; top:34px; height:31px; line-height:31px; padding:0 15px; color:#fff; text-decoration:none; background:#cc0000; font-family:OpenSansRegular; font-size:12px; -webkit-border-radius:99px; border-radius:99px;}

#mainMenu{float:left; margin-top:42px;}
#mainMenu a{float:left; color:#0077bb; font-family:Bebas; text-decoration:none; line-height:18px; padding-bottom:19px; margin-right:23px;}
#mainMenu a:hover, #mainMenu a.active{background:url(../imgs/mainMenuUnderline.png) left bottom repeat-x; color:#ababab;}

#rotator{float:left; position:relative; width:920px; height:238px; background:#0077bb; margin:0 0 30px 0; padding:20px; -webkit-border-radius:15px; border-radius:15px;}
#rotator .video{width:420px; float:left;}
#rotator .quote{float:right; width:460px; color:#fefefe; font-family:OpenSansLight; font-size:24px; line-height:36px; margin-top:-8px;}
#rotator .quote img{float:left; margin:8px 18px 0 0;}
#rotator .persons{position:absolute; right:20px; bottom:20px; width:461px;}
#rotator .persons .item{float:left; width:40px; height:40px; overflow:hidden; }
#rotator .persons .item img{float:left; cursor:pointer;}
#rotator .persons .item .description{float:left; color:#fff; font-size:14px; line-height:18px; padding-left:10px; font-family:OpenSansLight; margin-top:3px;}
#rotator .persons .item .description b{font-weight:normal; font-family:OpenSansSemiBold;}
#rotator .persons .item .text{display:none;}

#proposal{float:left; width:920px; padding:20px 20px 0 20px; background:#eeeeee; -webkit-border-radius:5px; border-radius:5px; margin:0 0 40px 0;  font-family:OpenSansRegular;}
#proposal h1{float:left; width:960px; margin:0 -20px 24px -20px; padding:0 0 16px 0; text-align:center; font-family:OpenSansRegular; font-size:18px; line-height:24px; font-weight:normal; border-bottom:#dddddd 2px solid;}
#proposal .column{float:left; width:160px; margin-right:30px; margin-bottom:25px;}
#proposal .column.last-child{margin:0; float:right;}
#proposal .column h2{margin:0 0 8px 0; font-family:Bebas; font-weight:normal; color:#0077bb; font-size:24px; line-height:24px; text-decoration:underline;}
#proposal .column p{font-size:12px; line-height:18px; color:#777777; margin:0 0 17px 0;}
#proposal .column a{font-family:OpenSansBold; color:#0077bb; font-size:12px;}
#proposal .button{display:block; clear:both; width:214px; background:#cc0000; color:#fff; text-align:center; text-decoration:none; height:49px; line-height:49px; -webkit-border-radius:99px; border-radius:99px; margin:0 auto -23px auto;
-webkit-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.2);
box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.2);
}

#problems{float:left; width:100%; margin:0 0 40px 0;}
#problems h1{float:left; width:100%; text-align:center; font-family:OpenSansRegular; font-size:18px; line-height:18px; font-weight:normal; }
#problems .people{float:left; width:100%; padding:28px 0 25px 0; border-top:#ededed 2px solid; border-bottom:#ededed 2px solid;}
#problems .people .item{float:left; margin-left:16px; width:176px; color:#575757; font-family:OpenSansRegular; text-decoration:none; font-size:12px; line-height:16px;}
#problems .people .item .icon{float:left; position:relative; width:40px; height:40px; margin-right:10px;}
#problems .people .item .icon .play{position:absolute; top:0; left:0; right:0; bottom:0; background:url(../imgs/play.png) center center no-repeat;}
#problems .people .item .desc{float:left; width:126px; margin-top:5px;}
#problems .people .item .desc b{color:#000; font-weight:normal; font-family:OpenSansBold; }

#proposal-bottom{float:left; width:100%; margin:0 0 50px 0; text-align:center;}
#proposal-bottom h2{margin:0; text-align: center; font-family:OpenSansLight; font-weight:normal; font-size:24px; line-height:36px; margin:0 0 15px 0;}
#proposal-bottom .label{display:inline; font-family:OpenSansRegular; font-size:12px; line-height:12px; color:#fff;}
#proposal-bottom .label .left{background:#cc0000;  padding:6px 10px;}
#proposal-bottom .label .right{background:#000; padding:6px 10px;}
#proposal-bottom .showAll{display:block; margin:15px 0 0 0; color:#0077bb; font-size:12px; font-family:OpenSansRegular; text-decoration:none;}

#footer{float:left; width:100%; padding:20px 0; font-family:OpenSansRegular;}
#footer .inline{width:960px; margin:0 auto;}
#footer .leftSide{float:left; width:600px;}
#footer .line{float:left; width:100%; color:#8d8d8d; font-size:12px; line-height:20px;}
#footer .line a{color:#fff; text-decoration:none;}
#footer .item{float:left; margin-right:20px;}
#footer b.item{font-weight:normal; font-family:OpenSansBold;}

#footer .rightSide{float:right; margin-top:4px; font-size:12px; color:#fff;}