.users_button
  border: 1px solid black
  padding: 1px 5px 0px 5px
  margin-right: 4px
  background: #E1E354
  font-weight: bold

.idea_add_follow
  border: 1px solid black
  padding: 1px 5px 0px 5px
  margin-right: 4px
  background: #c0c964

.idea_add_ignore
  border: 1px solid black
  padding: 1px 5px 0px 5px
  background: #e35d54
  margin-right: 4px

.idea_add_ignore a, .idea_add_follow a
  font-size: 11px
  color: black

#profile_name
  font-size: 14px
  font-weight: bold
  margin-bottom: 3px

.user_joined_visit
  margin-top: 10px

.heading
  font-size: 1.2em
  font-weight: bold
  margin-top: 10px
