%header
  %h1 Kategooriad

%ul#categories-list
  - @categories.each do |category|
    %li
      %h2
        %a{:href => issue_path(category)}= category.name
      %menu
        %a{:href => edit_category_path(category)} Muuda

%menu#categories-menu
  %a.button.primary(href=new_category_path) Uus kategooria
