%header
  %h1 Kategooriad

%ul#categories-list
  - @categories.each do |category|
    %li
      %h2
        %a{:href => issue_path(category)}= category.name

      %menu
        %a{:href => edit_category_path(category)} Muuda
        %a{:href => url_for(category),
          "data-method" => :delete,
          "data-confirm" => t("helpers.confirm.destroy")}
          Kustuta

%menu#categories-menu
  %a(href=new_category_path) Uus kategooria
